.App{
  font-size: 1em;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.sorting_wrapper{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
}
.element{
  background-color: white;
  margin: 0.2%;
}

.settings_wrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding:3vh 2% 0% 2%;
  overflow-x: auto;
}


/*Size styling*/
.size_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:rgb(198, 197, 197);
}

#size_label{
  font-weight: bold;
  margin: auto .5em;
  font-size: 1.5em;
}

#size {
  width:7em;
}

/*Sorting styling*/
.sorter_wrapper{
  display: flex;
  flex-direction: row;
}
.sorter_wrapper div{
  margin: auto 1% auto 1%;
  background-color: #9fa8d4;
  width:10em;
  margin: 0em .5em;
  padding:.5em 0em .5em 0em;
  text-align: center;
  font-weight: bolder;
}

/*Speed styling*/
.speed_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:rgb(198, 197, 197);
}
#speed_label{
  font-weight: bold;
  margin: auto .5em;
  font-size: 1.5em;
}
#speed{
  width:7em;
}

/*Generate styling*/
.generate_array{
  display: flex;
  flex-direction: row;
}
.generate{
  margin: auto 1% auto 1%;
  background-color: #9fa8d4;
  margin: 0em 2em;
  width:12em;
  padding:.5em 0em .5em 0em;
  text-align: center;
  font-weight: bolder;
}